#alert-modal.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body
        if flash
          if flash.info && flash.info.length > 0
            h3.text-center.alert.alert-info(role='alert') #{flash.info}
          if flash.success && flash.success.length > 0
            h3.text-center.alert.alert-success(role='alert') #{flash.success}
          if flash.error && flash.error.length > 0
            h3.text-center.alert.alert-error(role='alert') #{flash.error}
      .modal-footer
        button(type='button', class='btn btn-default', data-dismiss='modal') Close
