extends layout

block content
  include mainnavbar
  include modals/about
  .container-fluid.main-container-fluid
    .row-fluid.main-row-fluid
      .col-xs-12.col-md-6.col-md-offset-3
        br
        if flash.error && flash.error.length > 0
          h3.text-center.alert.alert-danger(role='alert') #{flash.error}
        form(method='POST')
          legend Change password
          .form-group
            label(for='oldpassword') Old Password
            input.form-control(type='password', name='oldpassword')
          .form-group
            label(for='password') Password
            input.form-control(type='password', name='password')
          .form-group
            label(for='confirm') Confirm Password
            input.form-control(type='password', name='confirm')
          button.btn.btn-primary(type='submit', name='operation', value='submit') Change
          | &nbsp;
          button.btn.btn-default(type='submit', name='operation', value='cancel') Cancel
