extends layout

block content
  body.landing-bg
  include modals/register
  .container
    .row
      .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-4
        h1.text-center.login-title
          .account-wall
            img(class='profile-img', src='/images/avatar_2x.png')
            form(class='form-signin', action='/login', method='POST')
              input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
              input(type='password', name='password' class='form-control', placeholder='Password', required)
              button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
              span.clearfix
          a(data-toggle='modal' href='#register-modal', class='text-center new-account') Create an account
          if flash.error && flash.error.length > 0
            h3.text-center.alert.alert-danger(role='alert') #{flash.error}
